.price-info
{
    color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.form-style
{
    max-width: 400px;
    margin: auto;
    border: 2px solid rgb(9, 80, 121);
    padding: 1rem;
    
}

table
{
    width: 400px;
    border: 5px solid saddlebrown;
    padding: 2px;
    margin: auto;
}

th, td
{
    border: 1px solid rosybrown;
    text-align: center;
    padding: 5px;
}